 p, input{
  display:inline-block;
  text-align: center;
}

li {
  text-align: center;
}
button {
  text-align: center;
}
.col {
  text-align: center;
  margin: 8px;
}


html body div#root div.container div div.row.list1 div.col {
  flex-grow: 0.04;
}